<!DOCTYPE html>
<html>


<head>
    <!-- <meta charset="utf-8"> -->
    <title>Page1</title>
    <style>
        .title {
            text-align: center;
            color: white;
            font-family: fantasy;
            font-size: 100px;
        }
        html {
          background-color: rgb(255, 162, 176);
        }
    </style>
</head>

<body>
    <div class = "title">&nbsp;&nbsp;&nbsp;&nbsp;DOM Tree for Activity 1
    <img src="/images/HackTask_1DOM.jpg" alt="DOM_tree" height="2200" width="1300">
    </div>
</body>
<footer></footer>

</html>
