<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Page3</title>
    <style>
        .text {
            text-align: center;
            color: white;
            font-family: fantasy;
            font-size: 100px;
        }

        html {
            background-color: rgb(255, 162, 176);
        }

        p {
            font-family: monospace;
            font-size: 25px;
            color: rgb(28, 59, 154);
        }

        div {
            margin-left: 150px;
            margin-right: 150px;
        }
    </style>
    <div class="text">Activity2 's Solution</div>
</head>

<body>

    <div class="detail">
        <p>1.) Create a variable to contain the boolean status of the game. Then add some condition in startGame() and restartGame() to check a game status before call a function</p>
        <img src="/images/ac2_1_1.jpg" alt="answer1" height="800" width="1000">
        <p>2.) We use the method name component to create a component and we have to set the color in the parameter of this method when we use it. So I change the color by editing the code which call method component by changing the parameter “green” to
            “yellow” and “red” to “blue”.</p>
        <img src="/images/ac2_2_1.gif" alt="answer2" height="200" width="500">
        <img src="/images/ac2_2_3.jpg" alt="answer2" height="200" width="650">
        <img src="/images/ac2_2_2.jpg" alt="answer2" height="100" width="1000">
        <p>3.) Add these code to the game-sol.html <br> These code for creating a pause button and add the fuction to this button.
        </p>
        <img src="/images/ac2_3_1.jpg" alt="answer3" height="200" width="800">
        <img src="/images/ac2_3_2.jpg" alt="answer3" height="200" width="1000">
        <p>
            4.) Create a variable to contain the number of life.
        </p>
        <img src="/images/ac2_4_1.jpg" alt="answer4" height="50" width="400">
        <p>
            Add some condition to function updateGameArea() to end the game when 3 lifes used.
        </p>
        <img src="/images/ac2_4_2.jpg" alt="answer4" height="500" width="1000">

    </div>
</body>

</html>
