<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Page2</title>
    <style>
        .title {
            text-align: center;
            color: white;
            font-family: fantasy;
            font-size: 100px;
        }

        html {
            background-color: rgb(255, 162, 176);
        }

        div {
            margin-left: 150px;
            margin-right: 150px;
        }

        p {
            font-family: monospace;
            font-size: 25px;
            color: rgb(28, 59, 154);
        }

        .text {
            text-align: center;
            color: white;
            font-family: fantasy;
            font-size: 100px;
        }
    </style>
    <div class="text">Activity1 's Solution</div>
</head>

<body>
    <div class="detail">
        <p>2.)<br></p>
        <img src="/images/ac1_2_1.jpg" alt="answer" height="500" width="1000">
        <p>3.)<br></p>

        <img src="/images/ac1_3_1.png" alt="answer" height="800" width="1000">
        <p>4.) Div tag id “convnetvis” is changing all the time. They use ConvNetJS for CIFAR-10.<br> “This particular network is classifying CIFAR-10 images into one of 10 classes and was trained with ConvNetJS.” This is relevant code.
        </p>
        <img src="/images/ac1_4_1.jpg" alt="answer" height="1000" width="1000">
        <p>5.) </p>
        <img src="/images/ac1_5_1.jpg" alt="answer" height="200" width="1000">
        <p>At “CIFAR-10” will bring you to the link http://www.cs.toronto.edu/~kriz/cifar.html which explain that these images are from CIFAR-10 or dataset of images. It consists of 60000 32x32 color images in 10 classes, with 6000 images per class. From
            looking at convent_demo.js, this show how to load images from CIFAR-10.
        </p>
        <img src="/images/ac1_5_2.jpg" alt="answer" height="500" width="1200">
    </div>
</body>

</html>
